.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: black;
  background-color: #d8dcd6;
}

.header-item {
  flex: 1;
}

.header-item.right {
  text-align: right;
}

.header-item.center {
  text-align: center;
}

.header-item.left {
  text-align: left;
}

.header-link {
  margin: 0 0.5rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.header-link:hover {
  text-decoration: underline;
}