<header class="main-header">
    <div class="header-item left">
      <a href="{{ url_for('signup.create_signup_page') }}" class="header-link">הרשמה</a>
      <a href="{{ url_for('login.create_login_page') }}" class="header-link">התחברות</a>
    </div>
    <div class="header-item center">
      <a href="{{ url_for('delivery.create_delivery_page') }}" class="header-link">צור משלוח</a>
    </div>
    <div class="header-item right">
      <a href="{{ url_for('index.create_index_page') }}" class="header-link">חבומרקט</a>
    </div>
  </header>
  